<include file=".\Application\Home\View\public\public_head.html" />

		<div style="width:30%;height:40%;border:0px solid red;margin-left: 35%;margin-top: 10%">
		<form action="__MODULE__/Index/savecode" method="post" enctype="multipart/form-data">
		    <div class="form-group">
			    <label for="exampleInputEmail1">邮箱</label>
			    <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" placeholder="邮箱" value="{$email}" disabled>
			    <small id="emailHelp" class="form-text text-muted">我们绝不会与其他人分享您的电子邮件。</small>
			  </div>
			  <div class="form-group">
			    <label for="exampleInputPassword1">验证码</label>
			    <input type="text" class="form-control" id="exampleInputPassword1" name="code" placeholder="验证码">
			  </div>
		    <button type="submit" class="btn btn-primary">注册</button>
		</form>
		</div>
		<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>