<include file=".\Application\Home\View\public\public_head.html" />
		
	    <table class="table table-hover">
		  <thead>
		    <tr>
		      <th scope="col">排名</th>
		      <th scope="col">任务名称</th>
		      <th scope="col">任务奖励</th>
		      <th scope="col">操作</th>
		    </tr>
		  </thead>
		  <tbody>
		<foreach name="info" item="val" key="k">	
		    <tr>
		      <th scope="row" class="bianhao{$k+1}">{$k+1}</th>
		      <td style="text-align:center;">{$val['taskname']}</td>
		      <td style="text-align:center;">{$val['money']}</td>
		      <td style="text-align:center;">
		       <a id="accept" href="__URL__/acceptTask?id={$k+1}" class="btn btn-primary">接受</a>
		      </td>
		    </tr>
		</foreach>
		  </tbody>
		</table>
		<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<!-- <script src="http://www.jq22.com/jquery/jquery-2.1.1.js"></script> style='pointer-events: none;'-->
		<!-- <script type="text/javascript">
			str = {$data}
			for (var i = 0; i <= {$data}.length; i++) {
				if(str.indexOf($(".bianhao"+i).val() != -1)){

				};
			}
		</script> -->
		<!-- <script type="text/javascript">Uncaught SyntaxError: Unexpected token :
			function accept(id){
				$.ajax(function(){
					type:"post",
					url:"__URL__/acceptTask",
					data:id,
					dataType:"json",
					success:function(data){
						alert(data)
					},
					error:function(err){
						alert(err)
					}
				});
			}
		</script> -->
	</body>
</html>